.professor-list-item{
  max-width: 786px;
  min-height: 115px;
  margin: auto;
  margin-bottom: 8px;
  background: white;
  padding: 5px 8px;
  border-top: 1px solid #eee;

  .fas.fa-star{
    color: #D9230F;
  }

  .far.fa-star{
    color: #D9230F;
  }
}

.professor-list-item__name{
  border-bottom: 1px solid #eee;
  padding-bottom: 6px;
}
