.professor-list-item{
  max-width: 786px;
  height: 115px;
  margin: auto;
  margin-bottom: 8px;
  background: white;
  border-radius: 4px;
  padding: 5px;
}

.professor-list-item__name{
  border-bottom: 1px solid #eee;
  padding-bottom: 6px;
}
